<nav>
    <div class="nav-wrapper blue-grey lighten-2">
    <a href="" class="brand-logo">GloReas' Top Headline Add Comment</a>
    <ul id="nav-mobile" class="right">
        <li><a href="/saved">Saved</a></li>
        <li><a href="/">Home</a></li>
    </ul>
    </div>
</nav>
<div id="cmnt">
      
        <div class="comments">
            <h4 style="margin-left:10px">Add Comment To Article {{artID}}</h4>
        </div>
        <div >
            <form method="post" action="/comment/add/{{artID}}">
                <div style="margin-left:20px" class="input-field">
                    <label for="commentarea">Comment here...</label>
                    <input style="background-color:rgb(183, 223, 217); height:150px; width:400px" type="text" name="body" id="commentarea" class="materialize-input"></input>
                </div>
                <div>
                    <input style="margin-left:300px" type="submit" class="btn btn-default" value="Submit">  
                </div>
            </form>
        </div>
      
</div>